.App {
  text-align: center;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover{
  color: brown;
}
#navbar li a:hover::after{
  content: "";
  width: 70%;
  height: 2px;
  background: brown;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.container-home{
  display:flex;
  align-items:center;
  justify-content: space-between;
  margin:10px 50px 10px 50px;
  font-family: 'Playfair Display', serif;
  
}
.left{
    width: 50%;
    /* border: 2px solid brown; */
    height:500px;
    
}
.right{
  width: 50%;
    /* border: 2px solid brown; */
    height:500px;
background-color: brown;
color:#fff
}
.image-style{
  height:500px;
  width:100%;
}
.hero-section-h1{
  text-align:center;
  padding:100px;
  font-size:50px;
}
.button-div{
  margin:-40px 150px ;
  
}
.hero-section-button{
  background-color: brown;
  border:4px solid #fff;
  color:#fff;
 width:350px;
 height:60px;
  text-align: center;
  font-size:30px;
}
.sec2-img{
  display:flex;
  align-items: center;
  justify-content: space-around;
  height:50%;
  
}
.sec2-img .sec2-img1{
  height:100%;
  width:100%;
}

.hero-section-p{
  text-align:center;
  padding:80px;
  font-size:20px;
}
.sec3-img{
  display:flex;
  align-items: center;
  justify-content: space-around;
  height:50%;
  
}
.sec3-img .sec3-img1{
  height:215px;
  width:100%;
}
.car{
  width:100%;
}
.car-div{
  
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.category-title{
  background-color:rgb(241, 146, 30);
  width:40%;
  height:500px;
}
.car-img{
  height:500px;
  width:100%;

}
.car-h1{
  text-align:center;
  padding:120px;
  font-size:40px;
}
.button-car-div{
  margin:-50px 65px ;
  
}
.button-car-div .button-car{
  background-color: brown;
  border:4px solid #fff;
  color:#fff;
 width:400px;
 height:50px;
  text-align: center;
  font-size:20px;
  border-radius:20px;
  
}
.multi-car{
  margin:50px;
  font-family: 'Playfair Display', serif;
}
.multi-car .card-mc{
  margin:20px;
  border:1px;
  text-align:center;
  
  border-radius:20px;
  padding:20px;

}
.mc-title{
  text-align:center;
  margin:10px;
}
.card-image{
  width:250px;
  height:250px;
  
}
.card-h4{
  margin:10px;
}
.card-p{
  font-size:20px;
}
.card-button{
  background-color: brown;
  border:4px solid rgb(228, 189, 15);
  color:#fff;
 width:200px;
 height:50px;
  text-align: center;
  font-size:20px;
  
}
.review-sec{
  display:flex;
  align-items: center;
  justify-content: space-around;
  height:500px;
  margin:50px;
  font-family: 'Playfair Display', serif;
}
.review-h1{
  text-align:center;

}
.notices{
  
  height:100%;
  width:100%;
  border:2px solid #282c34;
}
.review{
  border:2px solid #282c34;
  height:100%;
  width:100%;
}

.car-notices{
  width:500px;
  height:300px;
  margin:50px 70px 70px 70px;
  
}
.car-notices-img{
  width:500px;
  height:300px;
}
.exb-desc{
  text-align:center;
  font-size: 20px;
  margin:10px;
  color:brown
}
.mycard{
  background-color:black;
  min-width:300px;
  height:300px;
  margin:10px;
  color:#fff;
}
.product-carousel{
  position:relative;
  overflow:hidden;
  padding:26px;

}
.product-container{
  padding:0 10px;
  display:flex;
  overflow-x:hidden;
  scroll-behavior: smooth;

}
.pre-btn,.next-btn{
  border:none;
  width: 60px;
  height:100%;
  position: absolute;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0);
  

}
.next-btn{
  right:0;

}
.next-btn p,.pre-btn p{
  font-size:40px;
  background-color: rgba(255,255,255,0.436);;
  box-shadow:0px 0px 10px 1px black;
  border-radius:20px;
  color:#000000;
  width:60px;
  height: 70px;
  cursor: pointer;
}
.mc-exb{
  width:100%;
  padding:10px;
}
.card-mc-exb{
  width:200px;
  
  height:300px;
}
.card-image-exb{
  width:200px;
  height:200px;
}
