.App {
  text-align: center;
  
}


.App-header {
  background-color: #342830;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover{
  color: brown;
}
#navbar li a:hover::after{
  content: "";
  width: 70%;
  height: 2px;
  background: brown;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.container-home{
  display:flex;
  align-items:center;
  justify-content: space-between;
  margin:10px 50px 10px 50px;
  font-family: 'Playfair Display', serif;
  
}
.left{
    width: 50%;
    margin-left: 0;
    /* border: 2px solid brown; */
    height:500px;
    
}
.right{
  width: 50%;
    /* border: 2px solid brown; */
    height:500px;
    background-color: brown;
    color:#fff
}
.image-style{
  height:500px;
  width:100%;
}
.hero-section-h1{
  text-align:center;
  padding:100px;
  font-size:50px;
}
.button-div{
  margin:-40px 150px ;
  
}
.hero-section-button{
  background-color: brown;
  border:4px solid #fff;
  color:#fff;
  width:350px;
  height:60px;
  text-align: center;
  font-size:30px;
}
.sec2-img{
  display:flex;
  align-items: center;
  justify-content: space-around;
  height:50%;
  
}
.sec2-img .sec2-img1{
  height:100%;
  width:100%;
}

.hero-section-p{
  text-align:center;
  padding:80px;
  font-size:20px;
}
.sec3-img{
  display:flex;
  align-items: center;
  justify-content: space-around;
  height:50%;
  
}
.sec3-img .sec3-img1{
  height:215px;
  width:100%;
}
.car{
  width:100%;
}
.car-div{
  
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.category-title{
  background-color:rgb(241, 146, 30);
  width:40%;
  height:500px;
}
.car-img{
  height:500px;
  width:100%;

}
.car-h1{
  text-align:center;
  padding:120px;
  font-size:40px;
}
.button-car-div{
  margin:-50px 65px ;
  
}
.button-car-div .button-car{
  background-color: brown;
  border:4px solid #fff;
  color:#fff;
 width:400px;
 height:50px;
  text-align: center;
  font-size:20px;
  border-radius:20px;
  
}
.multi-car{
  margin:50px;
  font-family: 'Playfair Display', serif;
}
.multi-car .card-mc{
  margin:20px;
  border:1px;
  text-align:center;
  
  border-radius:20px;
  padding:20px;

}
.mc-title{
  text-align:center;
  margin:10px;
}
.card-image{
  width:250px;
  height:250px;
  
}
.card-h4{
  margin:10px;
}
.card-p{
  font-size:20px;
}
.card-button{
  background-color: brown;
  border:4px solid rgb(228, 189, 15);
  color:#fff;
 width:200px;
 height:50px;
  text-align: center;
  font-size:20px;
}
.review-sec{
  display:flex;
  align-items: center;
  justify-content: space-around;
  height:500px;
  margin:50px;
  font-family: 'Playfair Display', serif;
}
.review-h1{
  text-align:center;

}
.notices{
  
  height:100%;
  width:100%;
  border:2px solid #282c34;
}
.review{
  border:2px solid #282c34;
  height:100%;
  width:100%;
}

.car-notices{
  width:500px;
  height:300px;
  margin:50px 70px 70px 70px;
  
}
.car-notices-img{
  width:500px;
  height:300px;
}
.exb-desc{
  text-align:center;
  font-size: 20px;
  margin:10px;
  color:brown
}
.mycard{
  background-color:black;
  min-width:300px;
  height:300px;
  margin:10px;
  color:#fff;
}
.product-carousel{
  position:relative;
  overflow:hidden;
  padding:26px;

}
.product-container{
  padding:0 10px;
  display:flex;
  overflow-x:hidden;
  scroll-behavior: smooth;

}
.pre-btn,.next-btn{
  border:none;
  width: 60px;
  height:100%;
  position: absolute;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0);
  

}
.next-btn{
  right:0;

}
.next-btn p,.pre-btn p{
  font-size:40px;
  background-color: rgba(255,255,255,0.436);;
  box-shadow:0px 0px 10px 1px black;
  border-radius:20px;
  color:#000000;
  width:60px;
  height: 70px;
  cursor: pointer;
}
.mc-exb{
  width:100%;
  padding:10px;
}
.card-mc-exb{
  width:200px;
  
  height:300px;
}
.card-image-exb{
  width:200px;
  height:200px;
}
.artist-page{
  font-family: 'Playfair Display', serif;
}
.artist-info{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height:400px;
  margin:-20px 100px 0 100px;
  font-family: 'Playfair Display', serif;
  padding:50px;
  
}
.artist{
  height:300px;
  width:300px;
  /* border:2px solid #282c34; */
  border-radius:50%;
  margin-left:100px;
  margin-right:50px;
  
}
.desc{
  height:200px;
  width:400px;
  /* border:2px solid #282c34; */
  border-radius:40px;
  background: rgb(241, 146, 30);
  
  padding:20px;
}
.desc-p{
  font-size:15px;
}
.artist .img-artist{
  width: 280px; height: 280px;
  border-radius:50% 50% 50% 50%;
  border:3px solid brown; 
}
.divider{
  position: absolute;
  height:100%;
  width: 0;
  border: 3px dashed #c162196b;
  top:385%;
  left: 50%;
}
.traveller{
  position:sticky;
  top:5%;
  transform: rotate(90deg);
  z-index: 2;
}



/* SearchBar.css */

.search__bar input[type=text] {
  float: inline-start;
  padding: 10px;
  padding-left: 30px;
  padding-right: 500px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 1px;
  margin-bottom: 50px;
  border: 50px;
  border-radius: 100px;
  border-color: brown;
  font-size: 17px;
}


.search__button{
  padding: 5px;
  margin-left: 5px;
  border: 2px;
  border-radius: 5px;
  background-color: brown;
  color:#fff;
  width:200px;
  height:45px;
  text-align: center;
  font-size:20px;
}


.search__bar{
  border-radius: 5px;
  border-color: #000000;
  height: fit-content;
}

/* 
Index.css */
 
*{
margin: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color:#3b04bbd7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  background: #eeecec;
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
} 


/* .card-img-top{
width: 460px;
height: 400px;


} */



.card-text{
width: fit-content;
height: fit-content;
}

*{
  margin: 0;
}
body {
  overflow-x: hidden;
  margin: 0;
  background-color:#fff4ced7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card-img-top{
  width: 460px;
  height: 400px;


}


.card-text{
  width: fit-content;
  height: fit-content;
}

.row{
  background: #ffffff;
  margin-top: 0;
}

.container-fluid body{
  background: #c54d15;
}
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}


/* login page */
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.btn-primary{
  background-color: brown;
  color:#fff;
  width:250px;
  height:35px;
  text-align: center;
  font-size:19px;
  margin-left:30px;
  margin-top:20px;
}

.Body{
  background-color: #c54d15;
  margin-left: 20px;
}
.subbody{
  margin-left: 30px;
}
.container{
  margin: 40px;
}

.product{
  align-self: normal;
  margin-top: 30px;
  text-align: right;
  background-color: #891d1d;
}
.details{
  align-items: flex-end;
}

.Hello{
align-items: right;
}

.productpicture{
  margin-left: 10px;
  box-sizing: content-box;
}
.Flex{
  /* padding: 5px;
  margin-left: 5px;
  border: 2px;
  border-radius: 5px; */
  background-color: brown;
  /* color:#0e0e0e; */
  /* width:80px;
  height:45px;
  text-align: center;
  font-size:2px; */
}